@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Montserrat", "Open Sans", Helvetica, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.chat-container {
	margin: 100px auto;
	width: 360px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 20px 20px 0;
	z-index: 100;
	box-shadow: 0 2px 10px 1px hsla(0, 0%, 71%, .8);
}
  
@media (max-width: 800px) {
	.chat-container {
	  margin: 20px 10px;
	  width: auto;
	}
}

.chatroom .chats .chat.left {
	background-image: url('avatar.svg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 35px;
}


